$root-fz: 14px;
$root-fm: "华文细黑", Arial, sans-serif;

$orange-light: #FAA696;
$orange: #FE5D3C;

$gray-f8: #F8F8F8;
$gray-e0: #E0E0E0;
$gray-light: #A8AAB0;
$gray-dark: #73727B;

/* semantics */
$theme-color: $orange;
$text-color: $gray-dark;